*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

h1, p{
  margin: 20px 0;
}

h1{
  color: #262626;
}

p{
  width: 700px;
  text-align: center;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.output-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  background-color: white;
  margin: 10px;
  cursor: pointer;
}

.output-card img{
  width: 380px;
  padding-bottom: 20px;

  transition: all 0.5s;
}

.output-card img:hover{
  transform: scale(1.1);


}

  .output-card h4:last-child{
  padding-bottom: 20px;
}


@media screen and (max-width: 1500px) {
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}



































